# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# Docker
.docker/

# Data & AI Models
backend/qdrant_db/
*.mp3

# .gitignore
backend/static/user_uploads/*
!backend/static/user_uploads/.gitkeep